@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.first_section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 560px;
    background: #6a5aaa;
    font-family: 'Montserrat', sans-serif;
    
}

.section1 {
    display: flex;
    position: relative; 
}
.cont{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.button {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    }

    .button.accept-btn:hover {
        background-color:#7952B3;
        box-shadow: 0px 15px 20px #281870;
        color: #fff;
        transform: translateY(-7px);
      }