.first {
  background-color: #d4ccec;
}
.team {
  display: flex;
  justify-content: center;
}

.learnmore:hover{
  background-color: rgb(231, 154, 231);

}

.Reqruite{
  padding-bottom: 180px;
}

.Reqruite p{
  font-weight:700;
}
