.contact {
  background-color: #f3f3f3;
}
.title-style {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 700;
  font-size: 20px;
  color: hsl(52, 0%, 98%);
}
.title-quote {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  color: hsl(52, 0%, 98%);
}

.details_botn{
    /* padding:5px 15px; */
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(32, 112, 178) !important;
    transition: all 0.5s;
    font-weight:700;
    margin-top: 30px;
    justify-items: center;
    margin-left: 30%;
    width: 40%;
    
    
}
.details_botn:hover{
    background-color: darkblue !important;
    transition: all 0.5s;
}

