/* .links:hover {
    background-color:#7952B3;
    box-shadow: 0px 15px 20px #281870;
    color: #fff;
    transform: translateY(-5px); 
    transition-duration: 0.5s;
  } */



.s_links{
    border-radius: 10px;
    transition: all 0.5s;
    color: white;
    font-weight: 700;
    border:'none';
   
}
.s_links:hover{
    background-color: rgb(255, 193, 7);
    transition: all 0.5s;
    transform: translateY(5px); 

}
.e_links{
    border-radius: 10px;
    transition: all 0.5s;
    color: white;
    font-weight: 700;
    border:'none';
    margin-left: 5px;
   
}
.e_links:hover{
    background-color: rgb(248, 56, 0);
    transition: all 0.5s;
    transform: translateY(5px); 
}


.test {
    /* right: 60%;
    left: auto;
    width: 1px; */
    
}
.links{
    margin-left: 20px;
}