.section001 {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #d4ccec;
}
.cards {
  width: 30%;
  height: fit-content;
}

.arrow {
  font-size: 50px;
  position: absolute;
  top: 50px;
  left: 50px;
  cursor: pointer;
  color: #7952b3;
}
